.navbar-links{
    text-decoration: none;
    color: rgb(184, 184, 184);
    margin-right: 1rem;
}

.navbar-links:hover{
    text-decoration: none;
    color: rgb(138, 138, 138);
}

.navbar-links:active{
    text-decoration: none;
    color: rgb(185, 123, 123);
}